@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgba(117,120,123,.05)!important;
}
#hero a{
    text-decoration: none;
}

.centered {
    display: flex;
    width: 100%;
     align-items: center;
     justify-items: center;
     flex-direction: column;
    width: 100%;
    padding: 60px 0 30px 0;
    overflow-y: hidden;
}

.centered p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    max-width: 800px;
}

/* hero section*/

#hero{
    background-image: url("../img/test1.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
.hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
    justify-content: flex-start;
}
/*
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 1s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #002855;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: .5s;
}

.cta{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: #002855;
    background-color: white;
}

#hero p {
    color: white;}
*/
/* end of definition section*/

/* about-us section*/  
#about-us p{
    max-width: 100%;
    margin-top: 3rem;
}
/*end of about us section*/

/*events section*/
.events {
    background: #fff;
}
.events-top {
    max-width: 500px;
    
}

.carousel-inner img{
    width: 100%;
}

.carousel{
    margin-bottom: 30px;
}

@media (min-width:992px){
    .carousel-item img{
        height: 380px;
    }
}
/*end of events section*/


/*blog section*/
.section-title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #00629B;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 4rem;
    justify-self: center;
}

.section-title::after{
    content: '';
    width: 25%;
    height: 6px;
    display: block;
    position: relative;
    background-color: #00629B;
    margin: auto;
}

.blog{
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding:60px 0 30px 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media (max-width:992px){
    .blog{
        height: 120vh;
    }
}
@media (max-width:768px){
    .blog{
        height: 107vh;
    }
}

.card a:hover{
    text-decoration: none;
}


.card-body{
    background: rgba(0,0,0,.03);

}

.card{
    border: none !important;
}

.card:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.card-footer{
    background: none!important;
}
.card-title{
    color: #00629B;
    transition: all 0.5s ease;
}
.card-title:hover{
    color: #002855;
}


.column{
    margin-bottom: 8%;
    padding-right: 25px!important;
    margin-top: 50px;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease ;
}

.inner:hover img{
    transform: scale(1.5);
}

.tags{
    margin-left:10px;
    padding: 5px;
    background:rgba(117,120,123,.1) ;
    color: #002855;
    border-radius: 0.3rem;
}

.blog-date,.icon{
    color: #999999;
    font-size: 14px;
    position: relative;
    top: -5px;
}


/* end of blog section*/


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@media only screen and (min-width: 1200px) {
    #blog .blog-bottom .blog-item {
        flex-basis: 20%;
        margin: 2%;
    }
}

.slider{
    position: relative;
    max-height: 80vh;
}
.carousel_arrow{
    position: absolute;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    bottom:50%;
    opacity: 0.5;
}
.prev_arrow{
 left: -5%;
}
.next_arrow{
    right: -5%;
}

#sponsers{
    position: relative;
    padding-top: 60px;
    padding-bottom: 200px;
    background: white;
}
.sponsers{
    margin-top: 80px;
}

.sponsers-element{
    height: 30vh;
    cursor: pointer;
}

.sponsers-element{
    overflow: hidden;
}

.sponsers-element img{
    transition: all 1s ease ;
}

.sponsers-element:hover img{
    transform: scale(1.5);
}

.sponsers-element:hover{
    background: rgba(117,120,123,.1);
    transition: ease-in-out 0.5s;
}

/*feedback Section*/
.feedback-btn{
    font-family: 'poppins';
    position: fixed;
    top: 80vh;
    right: -55px;
    transform: rotate(-90deg);
    background-color: #00629B;
    color: white;
    z-index: 399;
    border: none;
    width: 135px;
    height: 38px;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    text-transform: uppercase;
}
.feedback-btn:active{
    outline: none;
}
.btn-text{
    position: relative;
    bottom: 1px;
}

.disappear{
    display: none !important;
}
.appear{
    display: block !important;
}

#feedback-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.feedback-overlay{
    display: none;
    position: fixed;
    background: black;
    opacity: 0.3;
    z-index: 444;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.feedback-form{
    display: none;
    position: absolute;
    top: 100px;
    margin: auto;
    margin-bottom: 100px;
    z-index: 448;
    background-color: #fff;
}

.form-top{
    width: 755px;
    background-color: #00629B;
    color: white;
}

.feedback-title{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

.form-top p{
    max-width: 440px;
    padding-bottom: 40px;
    font-size: 28px;
    margin: auto;
}

.feedback-form-close{
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: 100;
    transition: transform .25s,opacity 0.25s;
    opacity: 0.7;
}

.feedback-form-close:hover{
    transform: rotate(90deg);
    opacity: 1;
}

.form-body{
    max-width: 440px;
    margin:auto;
    padding-top: 60px;
}

.form-body>div{
    margin-bottom: 30px;
}

.form-group span{
    display: inline;
}

.submit-btn{
    width: 100%;
}

.submit-btn button{
    width: 135px;
    height: 50px;
    font-size:16px;
    text-transform: uppercase;
    background-color: #00629b;
    border: none;
}

/*end of feed back section*/



#body-content{
    width: 100%;
  }

